In [1]:
#a pandas series can be queried either by the index position or the index label.

import pandas as pd



students_classes = {'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}

s = pd.Series(students_classes)

s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

# iloc and loc atributes in pandas

we don't use parentheses when we use iloc and loc atributes in pandas. Instead we use square brackets since they are atributes and not methods.

In [2]:
print(s.iloc[3]) #iloc is used to query by index position
print(s.loc['Jack']) #loc is used to query by index label

History
Chemistry

In [3]:
# pandas can determine whether we're intending to query by label or by position.

print(s[3]) #this code will call s.iloc[3] because it's an integer
print(s['Jack']) #this code will call s.loc['Jack'] because it's a string/object

History
Chemistry

if we have a series of integers pandas cannot know if we are refering to the index or the position of the element. In this case we use iloc to refer to the position of the element and loc to refer to the index of the element.

In [4]:
class_code = {99: 'Physics', 100: 'Chemistry', 101: 'English', 102: 'History'}

s = pd.Series(class_code)

print(s.iloc[0]) 
print(s.loc[99])

Physics
Physics

# Working with the data

In [5]:
# getting the average of the grades

grades = pd.Series([90, 80, 70, 60])

total = 0

for grade in grades:
    total += grade

print(total/len(grades))

75.0

# Vectorization

Vectorization is the process of applying operations to a whole array instead of applying them to each element of the array. This is a very important concept in pandas and numpy since it allows us to work with big datasets in a very efficient way.

To put it in simple terms, if we have a pandas series and we want to add 1 to each element of the series we can do it in a single line of code. This is the power of vectorization.

The computer can execute multiple operations at the same time and this is why vectorization is so efficient.

In [6]:
import numpy as np

total = np.sum(grades)

print(total/len(grades))

75.0

In [7]:
# which is faster

numbers = pd.Series(np.random.randint(0, 1000, 10000)) 

#if a want a series of random real 

numbers.head()

0    461
1    177
2    952
3    498
4    209
dtype: int32

In [8]:
len(numbers)

10000

In [9]:
%%timeit -n 100 

total = 0

for number in numbers:
    total += number

total/len(numbers)

673 µs ± 13.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
%%timeit -n 100

total = np.sum(numbers)
total/len(numbers)

43.8 µs ± 4.88 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Broadcasting

In [11]:
numbers.head()

0    461
1    177
2    952
3    498
4    209
dtype: int32

In [12]:
numbers += 2
numbers.head()

0    463
1    179
2    954
3    500
4    211
dtype: int32

In [14]:
# Procedure way of iterating through a series
print(len(numbers))
# We can use the functin iteritems() to iterate through a series. This function returns a label and a value

for label, value in numbers.iteritems():
    numbers.at[label] = value + 2

numbers.head()

10000

0    467
1    183
2    958
3    504
4    215
dtype: int32

## Which of the above broadcasting procedures is faster

In [28]:
%%timeit -n 10 #it can run more than 10 times. 
s = pd.Series(np.random.randint(0, 1000, 1000))

for label, value in s.iteritems():
    s.loc[label] = value + 2  #we use loc instead of iloc because this is a series of integers

print(s.head())

0    433
1     86
2    896
3    432
4    311
dtype: int32
0    628
1     96
2    655
3     75
4    266
dtype: int32
0    953
1    560
2    610
3    484
4    908
dtype: int32
0    958
1    380
2    623
3    864
4    546
dtype: int32
0    929
1    288
2    249
3    467
4     63
dtype: int32
0    164
1    467
2    819
3    699
4    877
dtype: int32
0    976
1    548
2    722
3    975
4    432
dtype: int32
0    723
1    713
2     14
3    675
4    993
dtype: int32
0    916
1    876
2     66
3    470
4    432
dtype: int32
0    862
1    296
2    714
3    608
4    443
dtype: int32
0    987
1    185
2    627
3    255
4    269
dtype: int32
0    406
1    995
2    878
3     11
4     59
dtype: int32
0    158
1    830
2    720
3    425
4    184
dtype: int32
0     40
1    237
2    220
3     88
4    872
dtype: int32
0     749
1     732
2     937
3    1000
4     811
dtype: int32
0    335
1    741
2    766
3    770
4    391
dtype: int32
0     83
1     75
2    777
3    179
4    415
dtype: int32
0    597
1    854
2    132
3    289
4    769
dtype: int32
0    846
1    260
2    553
3    668
4    539
dtype: int32
0    325
1    579
2    361
3    704
4    122
dtype: int32
0     60
1    172
2    962
3    781
4    963
dtype: int32
0    849
1    757
2    832
3    736
4    516
dtype: int32
0    908
1    935
2    538
3    901
4    713
dtype: int32
0    125
1    237
2     88
3    212
4    597
dtype: int32
0    531
1    814
2    456
3    791
4    521
dtype: int32
0    412
1    579
2    705
3    688
4     34
dtype: int32
0    136
1     97
2    586
3    671
4    382
dtype: int32
0    464
1    873
2    135
3    167
4    665
dtype: int32
0    984
1    164
2    280
3    292
4    751
dtype: int32
0     76
1    171
2    603
3    843
4    540
dtype: int32
0    483
1     62
2     69
3     82
4    225
dtype: int32
0    564
1     83
2    811
3    267
4    342
dtype: int32
0    457
1    383
2    649
3    860
4    317
dtype: int32
0    653
1    273
2    658
3    910
4    931
dtype: int32
0    889
1    204
2     16
3    971
4    771
dtype: int32
0    933
1    711
2     37
3     29
4    399
dtype: int32
0    591
1    338
2    909
3     99
4    647
dtype: int32
0    824
1    367
2    504
3    107
4    564
dtype: int32
0     49
1     64
2    778
3    291
4    822
dtype: int32
0    202
1    998
2     31
3    395
4    159
dtype: int32
0    396
1    143
2    173
3    758
4     19
dtype: int32
0    190
1     37
2    142
3    250
4    226
dtype: int32
0    175
1    828
2    172
3    389
4    777
dtype: int32
0     66
1    632
2     39
3     95
4    131
dtype: int32
0    620
1    626
2    759
3    444
4    216
dtype: int32
0    338
1    898
2     42
3    773
4    931
dtype: int32
0    877
1    632
2    413
3    589
4    368
dtype: int32
0     93
1    223
2    875
3     29
4    994
dtype: int32
0    283
1    505
2    550
3    442
4    257
dtype: int32
0    207
1    388
2    258
3    195
4    660
dtype: int32
0    884
1    701
2    953
3    811
4    801
dtype: int32
0    238
1    862
2    182
3    991
4    104
dtype: int32
0    165
1    599
2     63
3    340
4    294
dtype: int32
0    305
1    657
2     38
3    452
4    130
dtype: int32
0    454
1    938
2    405
3     91
4    230
dtype: int32
0    626
1    534
2     14
3    911
4    274
dtype: int32
0    166
1    437
2    709
3    147
4    581
dtype: int32
0    574
1    662
2    558
3    564
4    108
dtype: int32
0    232
1    838
2    983
3    471
4    693
dtype: int32
0    621
1    136
2     77
3    582
4    270
dtype: int32
0    540
1    823
2    979
3    582
4    615
dtype: int32
0    231
1    400
2    442
3    729
4    214
dtype: int32
0    482
1    425
2    147
3    143
4    834
dtype: int32
0    709
1    566
2    268
3    504
4    776
dtype: int32
0    925
1    459
2    355
3    979
4    297
dtype: int32
0    1001
1     167
2     243
3     857
4     288
dtype: int32
0    914
1     34
2    947
3    807
4    138
dtype: int32
0    922
1    442
2    769
3     10
4    580
dtype: int32
0    480
1    446
2    695
3    872
4    416
dtype: int32
0     96
1     72
2    193
3    415
4    658
dtype: int32
16.2 ms ± 492 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [34]:
%%timeit -n 10 -r 1 #we use -r 1 to run the code only once (10 repetitions)
s = pd.Series(np.random.randint(0, 1000, 1000))

for index, value in s.iteritems():
    s.loc[index] = value + 2  #we use loc instead of iloc because this is a series of integers

print(s.head())

0    117
1    769
2    900
3    445
4    446
dtype: int32
0    748
1    234
2    499
3    299
4     87
dtype: int32
0    178
1    947
2    445
3    229
4    306
dtype: int32
0    154
1    109
2    884
3    646
4    637
dtype: int32
0    719
1    118
2    793
3    352
4    231
dtype: int32
0    782
1    138
2    967
3    993
4    777
dtype: int32
0    915
1    938
2    769
3    336
4    697
dtype: int32
0    995
1    909
2    680
3    795
4    940
dtype: int32
0     22
1    676
2    595
3    895
4     75
dtype: int32
0    105
1    804
2    925
3    567
4    858
dtype: int32
17 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 10 loops each)

In [38]:
%%timeit -n 10 #-r 1 is optional if I want it to run exactly 10 times


s = pd.Series(np.random.randint(0, 1000, 1000))

s += 2

print(s.head())

0    803
1    778
2    533
3    690
4    314
dtype: int32
0     83
1    351
2    213
3    842
4    365
dtype: int32
0    734
1    979
2    792
3    532
4    731
dtype: int32
0    911
1     86
2    824
3    249
4    203
dtype: int32
0    839
1    543
2    910
3    927
4    216
dtype: int32
0    382
1    306
2    412
3    653
4    752
dtype: int32
0    924
1    130
2    426
3    112
4     34
dtype: int32
0    739
1    183
2    836
3    427
4    737
dtype: int32
0    498
1    901
2    680
3    317
4    458
dtype: int32
0    117
1    677
2    439
3    115
4    960
dtype: int32
0    291
1    201
2    642
3    836
4    838
dtype: int32
0    324
1    943
2    260
3    665
4    648
dtype: int32
0     81
1      4
2    376
3     42
4    364
dtype: int32
0    711
1    323
2    187
3    867
4    705
dtype: int32
0    794
1    725
2    465
3    748
4    295
dtype: int32
0    392
1    452
2    695
3    551
4    525
dtype: int32
0     13
1    957
2    622
3    215
4    273
dtype: int32
0    644
1    635
2    504
3    565
4    110
dtype: int32
0    953
1    608
2    594
3    324
4    809
dtype: int32
0    978
1    470
2      5
3    676
4    659
dtype: int32
0      9
1    230
2    305
3    823
4    266
dtype: int32
0    151
1    168
2    180
3    498
4    922
dtype: int32
0    185
1    417
2    648
3    732
4    594
dtype: int32
0    452
1    883
2    215
3    540
4    893
dtype: int32
0    827
1    595
2    182
3    219
4    423
dtype: int32
0    205
1    240
2    638
3     46
4    561
dtype: int32
0     362
1    1001
2       9
3     520
4      58
dtype: int32
0    916
1     87
2    644
3    771
4    182
dtype: int32
0    285
1    413
2    737
3    275
4    695
dtype: int32
0    404
1     63
2    694
3    824
4    581
dtype: int32
0    884
1    573
2    165
3    527
4    902
dtype: int32
0    972
1    598
2    188
3    736
4    227
dtype: int32
0    628
1    970
2    482
3    680
4    779
dtype: int32
0    230
1    193
2    644
3    509
4    161
dtype: int32
0    360
1    264
2    636
3    352
4    296
dtype: int32
0    579
1    705
2    520
3    894
4     56
dtype: int32
0    232
1    663
2     68
3    988
4    696
dtype: int32
0    926
1     88
2     96
3    374
4    241
dtype: int32
0    267
1     76
2    290
3    101
4    414
dtype: int32
0    687
1    788
2    679
3    498
4    349
dtype: int32
0    820
1    227
2    845
3    424
4    494
dtype: int32
0    391
1    133
2    390
3    334
4    660
dtype: int32
0    819
1    131
2    742
3     24
4    615
dtype: int32
0    680
1    243
2    639
3    745
4    362
dtype: int32
0    104
1    449
2    987
3    370
4    163
dtype: int32
0    291
1     24
2      6
3    825
4    698
dtype: int32
0    373
1    396
2    820
3     57
4    992
dtype: int32
0    462
1    944
2    639
3    337
4     11
dtype: int32
0    792
1    273
2    773
3    950
4    835
dtype: int32
0    585
1    700
2    484
3    166
4     18
dtype: int32
0    222
1    999
2    988
3    374
4    864
dtype: int32
0     31
1    401
2    816
3    214
4    581
dtype: int32
0     58
1    954
2    485
3    817
4    699
dtype: int32
0    151
1     10
2    842
3    838
4    456
dtype: int32
0    837
1     85
2    764
3    997
4    691
dtype: int32
0    882
1    269
2    871
3    862
4    769
dtype: int32
0    643
1     70
2     88
3    306
4    605
dtype: int32
0    388
1     70
2    920
3    127
4    305
dtype: int32
0    225
1    643
2     25
3    105
4    214
dtype: int32
0    284
1    189
2    853
3    905
4    252
dtype: int32
0    842
1    551
2    659
3    751
4    717
dtype: int32
0    781
1    348
2    507
3    586
4    349
dtype: int32
0    437
1    321
2    856
3    289
4    361
dtype: int32
0    360
1    505
2    678
3    748
4     36
dtype: int32
0    874
1    367
2    601
3    627
4    432
dtype: int32
0    333
1     78
2    716
3    977
4    139
dtype: int32
0    964
1    330
2    930
3    939
4    217
dtype: int32
0    195
1    195
2    295
3    286
4    356
dtype: int32
0    318
1    891
2    684
3    296
4    831
dtype: int32
0     43
1     85
2    188
3    518
4    320
dtype: int32
385 µs ± 43.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

# If the index doesn't exist a new entry is added

In [40]:
s = pd.Series([1, 2, 3])

s.loc['History'] = 102

s

0            1
1            2
2            3
History    102
dtype: int64

# When the index is not unique

In [42]:
students_classes = pd.Series({'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'})

students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [43]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [53]:
all_students_classes = students_classes.append(kelly_classes)
all_students_classes

C:\Users\estef\AppData\Local\Temp\ipykernel_47860\1848717780.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_students_classes = students_classes.append(kelly_classes)

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [51]:
all_students_classes = pd.concat([students_classes, kelly_classes])
all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [55]:
# original series is not changed
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [56]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object