# Assignment 3
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. All questions are worth the same number of points except question 1 which is worth 17% of the assignment grade.

**Note**: Questions 2-13 rely on your question 1 answer.

In [14]:
import pandas as pd
import numpy as np
import re

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with Numeric digits in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [15]:
Energy = pd.read_excel("Energy Indicators.xls", usecols= "C:F", skiprows=16, skipfooter=(283-245))
Energy.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production': '% Renewable', 'Energy Supply per capita': 'Energy Supply per Capita'}, inplace=True)
Energy.drop(index=0, inplace=True) # Removing the row specifying the energy units


# Energy['Energy Supply'] = pd.to_numeric(Energy['Energy Supply'], errors = 'coerce')

Energy.replace("...", np.NaN, inplace=True) #replacing "..." with "NAN" VALUES

Energy['Energy Supply'] = Energy['Energy Supply']*1e6 # There are 1 M gigajoules in a petajoule

Energy[Energy['Country'] == 'Guam']

   Country  Energy Supply  Energy Supply per Capita  % Renewable
87    Guam            NaN                       NaN          0.0

## Renaming the countries using .replace() method

1) Renaming the countries with parenthesis in their name

In [16]:
# INSPIRATION: Energy['Country'] = Energy['Country'].str.replace(r"\([^)]*\)", "", regex=True) 

#Energy.replace(r"\(*\)", "", regex=True, inplace=True)

Energy = Energy.replace(to_replace="\s\([^)]*\)", value= "", regex= True )

Energy[Energy['Country'] == 'Bolivia']

    Country  Energy Supply  Energy Supply per Capita  % Renewable
25  Bolivia    336000000.0                      32.0     31.47712

2) Renaming the countries with Numeric digits in their name using look behind.

Positive Lookbehind: (?<=Y)X, matches X only if X is preceded by Y. For example, (?<=\d)\w will match a word character that directly follows a digit, but the digit itself will not be part of the match.

In [17]:
Energy = Energy.replace(to_replace="(?<=\w)\d", value="", regex=True) #using positive look behind (?<=...) 

Energy[Energy['Country'] == 'Italy']

    Country  Energy Supply  Energy Supply per Capita  % Renewable
104   Italy   6.530000e+09                     109.0     33.66723

3) Renaming the 4 countries specified in the question

In [18]:
rename_dict = {
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
}

Energy['Country'] = Energy['Country'].replace(rename_dict)

In [19]:
Energy.set_index('Country', inplace=True)

Energy.head()

                Energy Supply  Energy Supply per Capita  % Renewable
Country
Afghanistan      3.210000e+08                      10.0    78.669280
Albania          1.020000e+08                      35.0   100.000000
Algeria          1.959000e+09                      51.0     0.551010
American Samoa            NaN                       NaN     0.641026
Andorra          9.000000e+06                     121.0    88.695650

## GDP dataframe from the world_bank.csv file

In [20]:
GDP = pd.read_csv('world_bank.csv', skiprows=4)

GDP.rename(columns={'Country Name': 'Country'}, inplace=True   )

rename_dict = {"Korea, Rep.": "South Korea", 
                "Iran, Islamic Rep.": "Iran",
                "Hong Kong SAR, China": "Hong Kong"}

GDP['Country'].replace(rename_dict, inplace=True)

GDP.set_index('Country', inplace=True)

#GDP[GDP["Country"] == 'Iran']

GDP.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

## ScimEn dataframe from the scimagojr-3.xlsx file

In [21]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

ScimEn.set_index('Country', inplace=True)

ScimEn

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...
Guyana,187,1,1,0,0,0.00,0
Christmas Island,188,1,1,0,0,0.00,0
Reunion,189,1,1,2,1,2.00,1
Saint Lucia,190,1,1,0,0,0.00,0
Mauritania,191,1,1,1,0,1.00,1

## Merging the 3 dataframes

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [22]:
result1 = pd.merge(GDP , Energy, how='inner', left_index=True, right_index=True)
result = pd.merge(result1, ScimEn, how='inner', left_index=True, right_index=True)

result.columns = result.columns.str.strip()
result.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,,
Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000e+06,121.0,88.69565,168,2,2,13,0,6.50,1
Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.210000e+08,10.0,78.66928,163,3,3,0,0,0.00,0
Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.420000e+08,27.0,70.90909,99,50,50,79,0,1.58,5
Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.020000e+08,35.0,100.00000,118,23,23,168,14,7.30,6
United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.710000e+09,300.0,0.00000,43,1137,1124,6055,611,5.33,37

Keeping the 15 countries with the highest rank in the ScimEn dataframe and the last 10 years of GDP data.

In [23]:
result = result.sort_values(by = 'Rank', ascending=True).head(15)
result.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,,
China,CHN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.262508e+11,9.178435e+10,8.664442e+10,9.548215e+10,1.129554e+11,1.321578e+11,1.462987e+11,...,1.271910e+11,93.0,19.75491,1,127050,126767,597237,411683,4.70,138
United States,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,3.340948e+12,3.487949e+12,3.690250e+12,3.926426e+12,4.181644e+12,...,9.083800e+10,286.0,11.57098,2,96661,94747,792274,265436,8.20,230
Japan,JPN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.741600e+11,8.673962e+11,9.446723e+11,1.024720e+12,1.144374e+12,1.210973e+12,1.339803e+12,...,1.898400e+10,149.0,10.23282,3,30504,30287,223024,61554,7.31,134
United Kingdom,GBR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.267154e+11,7.454179e+11,7.553170e+11,7.851992e+11,8.247598e+11,8.477621e+11,8.651354e+11,...,7.920000e+09,124.0,10.60047,4,20944,20357,206091,37874,9.84,139
Russian Federation,RUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.070900e+10,214.0,17.28868,5,18534,18301,34266,12422,1.85,57

In [28]:
columns_to_keep = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable']+[str(year) for year in range(2006, 2016)]

result = result[columns_to_keep]

print(result.shape)
result

(15, 20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [31]:
def answer_one():
    # YOUR CODE HERE

    #1)Energy dataframe
    Energy = pd.read_excel("Energy Indicators.xls", usecols= "C:F", skiprows=16, skipfooter=(283-245))
    Energy.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production': '% Renewable', 'Energy Supply per capita': 'Energy Supply per Capita'}, inplace=True)
    Energy.drop(index=0, inplace=True) # Removing the row specifying the energy units
    Energy.replace("...", np.NaN, inplace=True) #replacing "..." with "NAN" VALUES
    Energy['Energy Supply'] = Energy['Energy Supply']*1e6 # There are 1 M gigajoules in a petajoule

    #renaming the countries with  parenthesis in their name
    Energy = Energy.replace(to_replace="\s\([^)]*\)", value= "", regex= True )
    #renaming the countries with digits in their name
    Energy = Energy.replace(to_replace="(?<=\w)\d", value="", regex=True) 

    #renaming the countries specified in the question
    rename_dict = {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
        }
    Energy['Country'] = Energy['Country'].replace(rename_dict)
    
    #setting the columns 'Country' as index for further merging
    Energy.set_index('Country', inplace=True)


    #2) GDP dataframe
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP.rename(columns={'Country Name': 'Country'}, inplace=True   )

    rename_dict = {"Korea, Rep.": "South Korea", 
                    "Iran, Islamic Rep.": "Iran",
                    "Hong Kong SAR, China": "Hong Kong"}
    GDP['Country'].replace(rename_dict, inplace=True)

    GDP.set_index('Country', inplace=True)
    
    # 3) Scimag dataframe

    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn.set_index('Country', inplace=True)

    # 4) Merging the 3 dataframes Energy, GDP and ScimEn

    result1 = pd.merge(GDP , Energy, how='inner', left_index=True, right_index=True)
    result = pd.merge(result1, ScimEn, how='inner', left_index=True, right_index=True)
    result.columns = result.columns.str.strip()

    result = result.sort_values(by = 'Rank', ascending=True).head(15)
    columns_to_keep = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable']+[str(year) for year in range(2006, 2016)]

    result = result[columns_to_keep]



    #raise NotImplementedError()
    return result

In [30]:
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"

assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [ ]:
# Cell for autograder.

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [32]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
import pandas as pd

# Assuming df1 and df2 are your DataFrames and 'key_column' is the column you're merging on
merged_df = pd.merge(df1, df2, on='key_column', how='outer', indicator=True)

# Find entries from df1 not found in df2
lost_in_df2 = merged_df[merged_df['_merge'] == 'left_only']

# Find entries from df2 not found in df1
lost_in_df1 = merged_df[merged_df['_merge'] == 'right_only']

print("Entries in df1 not found in df2:")
print(lost_in_df2)

print("\nEntries in df2 not found in df1:")
print(lost_in_df1)

In [48]:
def answer_two():
    # YOUR CODE HERE

    #1)Energy dataframe
    Energy = pd.read_excel("Energy Indicators.xls", usecols= "C:F", skiprows=16, skipfooter=(283-245))
    Energy.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production': '% Renewable', 'Energy Supply per capita': 'Energy Supply per Capita'}, inplace=True)
    Energy.drop(index=0, inplace=True) # Removing the row specifying the energy units
    Energy.replace("...", np.NaN, inplace=True) #replacing "..." with "NAN" VALUES
    Energy['Energy Supply'] = Energy['Energy Supply']*1e6 # There are 1 M gigajoules in a petajoule

    #renaming the countries with  parenthesis in their name
    Energy = Energy.replace(to_replace="\s\([^)]*\)", value= "", regex= True )
    #renaming the countries with digits in their name
    Energy = Energy.replace(to_replace="(?<=\w)\d", value="", regex=True) 

    #renaming the countries specified in the question
    rename_dict = {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
        }
    Energy['Country'] = Energy['Country'].replace(rename_dict)
    
    #setting the columns 'Country' as index for further merging
    Energy.set_index('Country', inplace=True)


    #2) GDP dataframe
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP.rename(columns={'Country Name': 'Country'}, inplace=True   )

    rename_dict = {"Korea, Rep.": "South Korea", 
                    "Iran, Islamic Rep.": "Iran",
                    "Hong Kong SAR, China": "Hong Kong"}
    GDP['Country'].replace(rename_dict, inplace=True)

    GDP.set_index('Country', inplace=True)
    
    # 3) Scimag dataframe

    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    ScimEn.set_index('Country', inplace=True)

    # 4) Merging the 3 dataframes Energy, GDP and ScimEn

    result1 = pd.merge(GDP , Energy, how='outer', left_index=True, right_index=True)
    result = pd.merge(result1, ScimEn, how='outer', left_index=True, right_index=True)

    # print(result.head())
    return result.shape[0] - answer_one().shape[0]

    

answer_two()

304

In [49]:
assert type(answer_two()) == int, "Q2: You should return an int number!"

### Question 3
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [69]:
def answer_three():
    # YOUR CODE HERE

    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    columns_to_keep = [str(year) for year in range(2010,2016)]
    #GDP = GDP[columns_to_keep]
    print(GDP.head())
    

answer_three()

  Country Name Country Code                            Indicator Name  \
0        Aruba          ABW  GDP at market prices (constant 2010 US$)
1      Andorra          AND  GDP at market prices (constant 2010 US$)
2  Afghanistan          AFG  GDP at market prices (constant 2010 US$)
3       Angola          AGO  GDP at market prices (constant 2010 US$)
4      Albania          ALB  GDP at market prices (constant 2010 US$)

   Indicator Code  1960  1961  1962  1963  1964  1965  ...          2006  \
0  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN   NaN   NaN  ...           NaN
1  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN   NaN   NaN  ...  4.018196e+09
2  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN   NaN   NaN  ...  1.030523e+10
3  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN   NaN   NaN  ...  5.581103e+10
4  NY.GDP.MKTP.KD   NaN   NaN   NaN   NaN   NaN   NaN  ...  9.771760e+09

           2007          2008          2009          2010          2011  \
0           NaN           NaN           NaN  2.467704e+09           NaN
1  4.021331e+09  3.675728e+09  3.535389e+09  3.346317e+09  3.185605e+09
2  1.172119e+10  1.214448e+10  1.469733e+10  1.593680e+10  1.691113e+10
3  6.842044e+10  7.787420e+10  7.975320e+10  8.247091e+10  8.570262e+10
4  1.034829e+10  1.112752e+10  1.150029e+10  1.192695e+10  1.223109e+10

           2012          2013          2014          2015
0           NaN           NaN           NaN           NaN
1  3.129538e+09  3.127550e+09           NaN           NaN
2  1.935220e+10  1.973134e+10  1.999032e+10  2.029415e+10
3  9.012096e+10  9.626143e+10  1.008863e+11  1.039106e+11
4  1.240477e+10  1.254247e+10  1.279331e+10  1.312082e+10

[5 rows x 60 columns]

In [67]:
columns_to_keep = [year for year in range(2016,2016)]
columns_to_keep

[]

In [ ]:

assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
def answer_four():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# Cell for autograder.

### Question 5
What is the mean energy supply per capita?

*This function should return a single number.*

In [ ]:
def answer_five():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# Cell for autograder.

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [ ]:
def answer_six():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"

assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_seven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"

assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return the name of the country*

In [ ]:
def answer_eight():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [ ]:
def answer_nine():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [ ]:
def answer_ten():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

### Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_eleven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"

assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"

assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"

assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

*This function should return a series `PopEst` whose index is the country name and whose values are the population estimate string*

In [ ]:
def answer_thirteen():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"

assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")