In [93]:
import pandas as pd
import numpy as np

# Timestamp

Let's create a timestamp using a string "9/1/2019 10:05AM"

In [94]:
pd.Timestamp("9/1/2019 10:05AM")

Timestamp('2019-09-01 10:05:00')

We can also create a timestamp by passing parameters such as year, month, day, hour, minute, second, and microsecond.

In [95]:
pd.Timestamp(2024, 12, 2, 2, 3, 40)

Timestamp('2024-12-02 02:03:40')

## isoweekday() and weekday()

The `isoweekday()` method returns the day of the week as an integer, where Monday is 1 and Sunday is 7.
The `weekday()` method returns the day of the week as an integer, where Monday is 0 and Sunday is 6.

In [96]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).isoweekday() # 1 is Monday

1

In [97]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).weekday() # 0 is Monday

0

We can also get other parameters of the timestamp

In [98]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).second

40

In [99]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).minute

3

In [100]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).hour

2

In [101]:
pd.Timestamp(2024, 12, 2, 2, 3, 40).day # and so on

2

## Period

Suppose we don't want a specific point in time and instead wanted a span of time. It also encapsulates the arithmetic of time as we'll see in the following examples.

In [102]:
pd.Period("1/2016")

Period('2016-01', 'M')

In [103]:
pd.Period("3/5/2016")

Period('2016-03-05', 'D')

Let's suposse we want to find out the period after 5 months

In [104]:
pd.Period("1/2016") + 5

Period('2016-06', 'M')

Now we want to find out two days before March 3, 2016

In [105]:
pd.Period("3/5/2016") - 2

Period('2016-03-03', 'D')

## DatetimeIndex and PeriodIndex

In [106]:
t1 = pd.Series(list("abc"), [pd.Timestamp("2016-09-01"), pd.Timestamp("2016-09-02"), pd.Timestamp("2016-09-03")])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [107]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

Similarly we can create a PeriodIndex as well.

In [108]:
t2 = pd.Series(list("def"), [pd.Period("2016-09"), pd.Period("2016-10"), pd.Period("2016-11")])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [109]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

## Converting to DateTime

pd.to_datetime: This function is used to convert arguments to datetime. It can convert a variety of formats (like string, integer, float, list, series, etc.) to datetime. It's very flexible and can handle a wide range of inputs.  If you have a single date/time string, you can use either pd.to_datetime or pd.Timestamp. If you have a collection of date/time strings (like a list or a Series), you should use pd.to_datetime.

In [110]:
d3 = ["2 June 2013", "Aug 29, 2014", "2015-06-26", "7/12/16"]

ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d3, columns=list("ab"))

ts3

               a   b
2 June 2013   66  52
Aug 29, 2014  78  76
2015-06-26    18  16
7/12/16       63  91

In [111]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  66  52
2014-08-29  78  76
2015-06-26  18  16
2016-07-12  63  91

We can parse the date in European format by setting the dayfirst parameter to True.

In [112]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

## Timedelta

In [113]:
pd.Timestamp("9/3/2016") - pd.Timestamp("9/1/2016")

Timedelta('2 days 00:00:00')

In [114]:
pd.Timestamp("12/3/2016") + pd.Timedelta("12D 3H")

Timestamp('2016-12-15 03:00:00')

## Offset

It is similar to Timedelta but follows specific calendar duration rules. For example, a month is defined as one month, whether it is 28, 29, 30, or 31 days. A month is a month.

In [115]:
pd.Timestamp("6/15/2024").weekday()

5

In [116]:
t1 = pd.Timestamp("6/15/2024") + pd.offsets.Week()
t1

Timestamp('2024-06-22 00:00:00')

In [117]:
t1.weekday()

5

In [118]:
t1 = pd.Timestamp("6/15/2024") + pd.offsets.Week(2)
t1

Timestamp('2024-06-29 00:00:00')

In [119]:
pd.Timestamp("6/15/2024") + pd.offsets.MonthEnd() # last day of the month

Timestamp('2024-06-30 00:00:00')

## Working with Dates in DataFrames

Suppose we want to look at nine measurements, taken bi-weekly, every Sunday, starting in October 2016. Using date_range, we can create this DatetimeIndex. In data_range, we have to either specify the start or end date. If it is not explicitly specified, by default, the date is considered the start date. Then we have to specify number of periods, and a frequency. Here, we set it to "2W-SUN", which means biweekly on Sunday:

In [120]:
dates = pd.date_range("10-01-2016", periods=9, freq="2W-SUN")
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

We can also specify the frequency by business days:

In [121]:
pd.date_range("6-17-2024", periods=9, freq="B") # business days

DatetimeIndex(['2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20',
               '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26',
               '2024-06-27'],
              dtype='datetime64[ns]', freq='B')

We can also do it quarterly:

In [122]:
pd.date_range("6-1-2024", periods=9, freq="QS-JUN") # quarter start

DatetimeIndex(['2024-06-01', '2024-09-01', '2024-12-01', '2025-03-01',
               '2025-06-01', '2025-09-01', '2025-12-01', '2026-03-01',
               '2026-06-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

Now let's crate a dataframe using a data index we created in the first place:

In [123]:
dates = pd.date_range("10-01-2016", periods=9, freq="2W-SUN")

df = pd.DataFrame({"Count 1": 100 + np.random.randint(-5, 10, 9).cumsum(),  # cumsum() is cumulative sum
                     "Count 2": 120 + np.random.randint(-5, 10, 9)}, index=dates) # the dictionary keys are the column names

"""np.random.randint(-5, 10, 9).cumsum() generates a sequence of 9 random integers between -5 and 10, and then calculates the cumulative sum of these numbers.  For example, if you have a NumPy array [1, 2, 3, 4] and you apply cumsum(), you would get [1, 3, 6, 10]. """

df

            Count 1  Count 2
2016-10-02      104      126
2016-10-16      107      120
2016-10-30      107      123
2016-11-13      114      120
2016-11-27      117      126
2016-12-11      113      117
2016-12-25      111      127
2017-01-08      118      119
2017-01-22      114      118

In [124]:
#df.index.weekday_name # the weekday_name attribute was deprecated in version 0.23.0 and removed in version 1.1.0

df.index.day_name()

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [125]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      3.0     -6.0
2016-10-30      0.0      3.0
2016-11-13      7.0     -3.0
2016-11-27      3.0      6.0
2016-12-11     -4.0     -9.0
2016-12-25     -2.0     10.0
2017-01-08      7.0     -8.0
2017-01-22     -4.0     -1.0

Let's suppose we want to find the count mean for each month in our DataFrame:

In [126]:
df.resample("M").mean()

            Count 1  Count 2
2016-10-31    106.0    123.0
2016-11-30    115.5    123.0
2016-12-31    112.0    122.0
2017-01-31    116.0    118.5

## Datetime indexing and slicing

In [127]:
df["2017"]

C:\Users\estef\AppData\Local\Temp\ipykernel_27464\2104988236.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df["2017"]

            Count 1  Count 2
2017-01-08      118      119
2017-01-22      114      118

In [128]:
df["2016-12"]

C:\Users\estef\AppData\Local\Temp\ipykernel_27464\655662455.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df["2016-12"]

            Count 1  Count 2
2016-12-11      113      117
2016-12-25      111      127

In [129]:
df["2016-12":]

            Count 1  Count 2
2016-12-11      113      117
2016-12-25      111      127
2017-01-08      118      119
2017-01-22      114      118