In [2]:
import pandas as pd
import numpy as np

# Question 1

Consider the two DataFrames shown below, both of which have Name as the index. Which of the following expressions can be used to get the data of all students (from student_df) including their roles as staff, where nan denotes no role?


pd.merge(student_df, staff_df, how='left', left_index=True, right_index=True)

pd.merge(staff_df, student_df, how='right', left_index=False, right_index=True)

pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

pd.merge(student_df, staff_df, how='right', left_index=True, right_index=True)

In [8]:
student_df = pd.DataFrame({ "Name" : ["James", "Mike", "Sally"], 
                           "School" : ["Business", "Law", "Engineering"]})

student_df.set_index('Name')

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [9]:
staff_df = pd.DataFrame({ "Name" : ["Kelly", "Sally", "James"], 
                           "Role" : ["Director of HR", "Course Liason", "Grader"]})

staff_df.set_index('Name')

                 Role
Name
Kelly  Director of HR
Sally   Course Liason
James          Grader